<nav class="navbar bg-light">
  <div class="container-fluid justify-content-center">
    <span class=" mb-0  h1"><span routerLink="/seances" routerLinkActive="active" ariaCurrentWhenActive="page"> <img
          src="https://img.freepik.com/vecteurs-libre/club-fitness-athletique-dur-embleme-vintage-gym-bras-bodybuilder-halteres_74855-11247.jpg?w=2000"
          alt="" width="90px"> My Training Sheet </span></span>
  </div>
</nav>



<div class="container my-3">
  <div class="m-5">
    <h2 class="text-center">Mon jeu ici</h2>
    <h3 class="text-center">{{message}} </h3>


    <div class="w-25 mx-auto my-3">
      <div class="row border ">
        <div class="col-4 border py-4 text-center" (click)="onClick('c1')">
          <span> {{table[0]}} </span>
        </div>
        <div class="col-4 border py-4 text-center" (click)="onClick('c2')">
          <span> {{table[1]}} </span>
        </div>
        <div class="col-4 border py-4 text-center" (click)="onClick('c3')">
          <span> {{table[2]}} </span>
        </div>
      </div>
      <div class="row border ">
        <div class="col-4 border py-4 text-center" (click)="onClick('c4')">
          <span> {{table[3]}} </span>
        </div>
        <div class="col-4 border py-4 text-center" (click)="onClick('c5')">
          <span> {{table[4]}} </span>
        </div>
        <div class="col-4 border py-4 text-center" (click)="onClick('c6')">
          <span> {{table[5]}} </span>
        </div>
      </div>
      <div class="row border ">
        <div class="col-4 border py-4 text-center" (click)="onClick('c7')">
          <span> {{table[6]}} </span>
        </div>
        <div class="col-4 border py-4 text-center" (click)="onClick('c8')">
          <span> {{table[7]}} </span>
        </div>
        <div class="col-4 border py-4 text-center" (click)="onClick('c9')">
          <span> {{table[8]}} </span>
        </div>
      </div>
    </div>

    <Button type="button" class="btn btn-secondary" (click)="reset()"> Reset</Button>




  </div>
</div>